<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.manao.manaoshop">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 银联需要的权限 -->
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".MaNaoAppaplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--测试页面-->
        <activity android:name=".test.TestActivity" />

        <!--首页商品列表点击进入的页面-->
        <activity android:name=".activity.CommodityActivity" />

        <!--热卖列表点击进入的h5页面-->
        <activity android:name=".activity.WaresActivity" />

        <!--登录页面-->
        <activity android:name=".activity.LoginActivity" />

        <!--提交页面-->
        <activity android:name=".activity.CreateOrderActivity" />

        <!--注册页面1-->
        <activity android:name=".activity.RegisterOneActivity" />

        <!--注册页面2-->
        <activity android:name=".activity.RegisterTwoActivity" />

        <!-- Ping++ SDK  下面 -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <!-- 1.需要将以下"替换成自己 APK 的包名"换成在微信平台上注册填写的包名 -->
        <!-- 2.WxPayEntryActivity 这个类在 SDK 内部实现，开发者不需要额外实现该类 -->
        <activity-alias
            android:name="com.manao.manaoshop.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 银联支付 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- Ping++ SDK  上面 -->

        <!--支付结果页面-->
        <activity android:name=".activity.PayResultActivity" />

        <!--收货地址页面-->
        <activity android:name=".activity.AddressListActivity" />

        <!--新增收货地址页面-->
        <activity android:name=".activity.AddressAddActivity" />

    </application>

</manifest>